<section class="hero-unit">
  <h1>Welcome to ContacTie!</h1>

  <br/>

  <div class='action-buttons'>
    <%= link_to "Create a New Contact", new_contact_path, class: 'btn btn-success btn-large' %>
    <%= link_to "See All Contacts", contacts_path, class: 'btn btn-primary btn-large' %>
    <% if user_signed_in? %>
    	<div class='action-buttons'>
    		<%= link_to "Create a New Contact", new_contact_path, class: 'btn btn-success btn-large' %>
    		<%= link_to "See All Contacts", contacts_path, class: 'btn btn-primary btn-large' %>
    		<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    	</div>
    <% else %>
    	<div class='action-buttons'>
    		<%= link_to "Sign up", new_user_registration_path, class: 'btn btn-success btn-large' %>
    		<%= link_to "Sign in", new_user_session_path, class: 'btn btn-primary btn-large' %>
    		<%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-primary btn-large' %>
    	</div>
    <% end %>
              
</section>